@import url('/src/fonts.css');

/* .header{
    height: 85px;
    padding: 0px 50px;
}
 */

 .header ul {
    list-style: none;
    padding: 0 50px;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: flex-end;
}
.header ul li a{
    text-decoration: none;
    color: black;
    padding: 2px 7px;
    font-size: 21px;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
} 

@media screen and (max-width: 750px) and (min-width: 250px) {
    .header ul{
      padding: 0px 20px;
      margin: 20px 0 0 0;
    }
    .header ul li a{
      padding: 4px;
      font-size: 13.125px;
    }
  }
  